<?xml version="1.0"?>

<robot name="amr" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo reference="back_wheel_right_side">
  <material>
    <friction>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </friction>
    <surface>
      <kp>100000.0</kp>
      <kd>1.0</kd>
    </surface>
  </material>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>    
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="back_wheel_left_side">
  <material>
    <friction>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </friction>
    <surface>
      <kp>100000.0</kp>
      <kd>1.0</kd>
    </surface>
  </material>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>    
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="middle_wheel_right_side">
  <material>
    <friction>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </friction>
    <surface>
      <kp>100000.0</kp>
      <kd>1.0</kd>
    </surface>
  </material>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>    
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="middle_wheel_left_side">
  <material>
    <friction>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </friction>
    <surface>
      <kp>100000.0</kp>
      <kd>1.0</kd>
    </surface>
  </material>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>    
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="front_wheel_right_side">
  <material>
    <friction>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </friction>
    <surface>
      <kp>100000.0</kp>
      <kd>1.0</kd>
    </surface>
  </material>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>    
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="front_wheel_left_side">
  <material>
    <friction>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </friction>
    <surface>
      <kp>100000.0</kp>
      <kd>1.0</kd>
    </surface>
  </material>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>    
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo>
        <!--xacro:if value="$(arg is_ignition)"-->
             
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find amr_controller)/config/amr_controllers.yaml</parameters>
            </plugin>
            <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
            </plugin>
        <!--/xacro:if-->

        <!--xacro:unless value="$(arg is_ignition)">        
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find robot_2_controller)/config/robot_2_controllers.yaml</parameters>
            </plugin>
        </xacro:unless-->

    </gazebo>

    <gazebo reference="imu_link">
      <sensor name="imu" type="imu">
       <always_on>true</always_on>
       <update_rate>50</update_rate>
       <gz_frame_id> imu_link</gz_frame_id>
       <topic>imu</topic>
       <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </z>
        </linear_acceleration>
       </imu>
      </sensor>
    </gazebo>

</robot>